<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"> 

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <title>Head Control Panel</title>
<link rel="stylesheet" href="../css/style.css" type="text/css" />
<link rel="stylesheet" href="../css/head_custom.css" type="text/css" />
</head>
<body>
<div class="container">

	<div class="header">
	
		<div class="logo">
			<a href="head_control_panel.html"><img src="../images/logo.png"  width="305" height="126" border="none"/></a>   
		</div>
		<div class="menu_holder">
			
			<div class="logged_user"> Welcome Admin <span><a href="default.asp"><img src="../images/logout.png" width="24" height="23" border="none"/><b> Logout</b></a>  
			</span>
			</div>
			<div class="date">
			12:01 AM 21 DEC 2012
			</div>
			<ul class="menu">
			
			<b>
			<li><a href="usermanagement.html">System</a></li>
			<li><a href="branch_list.html">Branches</a></li>
			<li><a href="employee_management.html">Employees</a></li>
			<li><a href="treatment_management.html">Treatments</a></li>
			<li><a href="product_management.html">Stock</a></li>
			<li><a href="#">Reports</a></li>
			</b>
			
			</ul>
		</div>
		
	</div>
	<div class="box">
		<div class="header_bg">
			<h2> Head Control Panel </h2>
		</div>
		<div class="boxs">
			<div class="main">
			<div>
				<a href="Add_a_new_user.html">
				<img src="../images/custmr.png" width="113" height="114" align="middle" border="none" /></a>
				</br>Add User
			</div> 
			<div>
				<a href="Add_an_employee.html"><img src="../images/addemployee.png" width="106" height="120" align="middle" border="none"/></a>
				</br> Add Employee
			</div>
			<div>
				<a href="add_branch.html"><img src="../images/addbranch.png" width="134" height="113" border="none"/></a>
				</br>Add Branch
			</div>
			</div>
			<div class="main">
				<div>
					<a href="Add_Treatment_Type.html"><img src="../images/addtreatment.png" width="130" height="97" border="none"/></a>
					</br>Add Treatment
				</div>
				<div >
					<a href="Add_new_product.html"><img src="../images/addproduct.png" width="115" height="97" border="none"/></a>
					</br>Add Product
				</div>
				<div >
					<a href="#"><img src="../images/reports.png" width="98" height="110" border="none"/></a>
					</br>Reports
				</div>
			</div>
		</div>
	</div> 
<div class="footer">
	Copyright &copy; 2012 <b>CDMS</b>. All rights reserved.
</div>	
	
</div>
</body>
</html>
